{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/tableau.css') }}">
{% endblock %}

{% block body %}
    {% include "navbar.html.twig" %}
    <h1>Les Musiciens</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Roles</th>
                <th>Pupitre</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>CP</th>
                <th>Tel_fixe</th>
                <th>Tel_port</th>
                <th>Date_naissance</th>
                <th>Date_har</th>
                <th>Date_fede</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.pupitre ? user.pupitre.nom : '' }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.CP }}</td>
                <td>{{ user.telFixe }}</td>
                <td>{{ user.telPort }}</td>
                <td>{{ user.dateNaissance ? user.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ user.dateHar ? user.dateHar|date('Y-m-d') : '' }}</td>
                <td>{{ user.dateFede ? user.dateFede|date('Y-m-d') : '' }}</td>
                <td>{{ user.ville }}</td>
                <td>
                    <a href="{{ path('app_musicien_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="button_add">
        <a href="{{ path('app_musicien_new') }}">Ajout</a>
    </div>

    {% for message in app.flashes('error') %}
        <div class="flash-error">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
