{% extends 'base.html.twig' %}

{% block title %}Harmonie Les Amis Réunis{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/index.css') }}">
{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}
<h1>Bienvenue sur le site de l'Harmonie Les Amis Réunis !</h1>

<div class="container">
    <div class="img">
        <img src="{{ asset('img/harmonie.jpg') }}" alt="harmonie">
    </div>

    <div class="contenu">
        <div class="message box">
            <h2>Message de l'harmonie</h2>
            
            {% if message == "Aucun message n'a été trouvé" %}
                <p>{{ message }}</p>
            {% else %}
                <h3>{{message.titre}}</h3>
                <p>{{message.contenu}}</p>
                <p class="add">Publié le {{ message.date|date("m/d/Y") }} par {{ message.auteur.prenom }} {{ message.auteur.nom }}</p>

                
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_message_index') }}">Gérer les messages</a>
            {% endif %}
            
        </div>

        <div class="sortie box">
            <h2>Les prochaines sorties</h2>
            {% if sorties == "Aucune sortie n'a été trouvée" %}
                <p>{{ sorties }}</p>
            {% else %}
                <ul>
                    {% for sortie in sorties %}
                        <li>{{ sortie.titre }} ({{sortie.lieu}}) - {{ sortie.date|date("d/m/Y") }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_sorties_index') }}">Gérer les sorties</a>
                
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}
