{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/tableau.css') }}">
{% endblock %}

{% block body %}
    {% include "navbar.html.twig" %}
    <h1>Liste des Sorties</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Lieu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sorty in sorties %}
            <tr>
                <td>{{ sorty.id }}</td>
                <td>{{ sorty.titre }}</td>
                <td>{{ sorty.date ? sorty.date|date('d-m-Y') : '' }}</td>
                <td>{{ sorty.lieu }}</td>
                <td>
                    
                    <a href="{{ path('app_sorties_edit', {'id': sorty.id}) }}">edit</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    

    <div class="button_add">
        <a href="{{ path('app_sorties_new') }}">Nouvelle sorties</a>
    </div>

    <div class="button_add">
        <a href="{{ path('app_sorties_export') }}">Export</a>
    </div>
    
{% endblock %}
