{% extends 'base.html.twig' %}

{% block title %}Instrument{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/tableau.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/instrument.css') }}">
{% endblock %}


{% block body %}

{% include "navbar.html.twig" %}

    <h1>Instrument</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero_serie</th>
                <th>Marque</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for instrument in instruments %}
            <tr>
                <td>{{ instrument.id }}</td>
                <td>{{ instrument.numeroSerie }}</td>
                <td>{{ instrument.marque }}</td>
                <td>
                    <a href="{{ path('app_instrument_edit', {'id': instrument.id}) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="button_add">
        <a href="{{ path('app_instrument_new') }}">Ajout</a>
    </div>
    
{% endblock %}
