{% extends 'base.html.twig' %}

{% block title %}connexion{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/connexion.css') }}">
{% endblock %}

{% block body %}
    {% include "navbar.html.twig" %}
    <div class="connect page">
        <form method="post">
            <!-- message flash-->
            {% for message in app.flashes('error') %}
                <div class="flash-error">
                    {{ message }}
                </div>
            {% endfor %}
            
    
            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté : {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
    
            <h1 class="">Connexion</h1>
            <label class="label" for="username">Pseudo :</label>
            <input class="text" type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
            <label class="label" for="password">Password :</label>
            <input class="text" type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
    
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
    
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
    
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <div class="button">
                <input type="submit" value="Se Connecter" class="submit">
            </div>
            
            
        </form>
    </div>
{% endblock %}
